<div class="channels-block">

  <div class="chart-bg"></div>
  <div class="traffic-chart" id="trafficChart">
    <div class="canvas-holder">
      <canvas class="chart-area" width="300px" height="300px"></canvas>
      <div class="traffic-text">
        4,089
        <span>Refresh</span>
      </div>
    </div>
    <div class="traffic-legend"></div>
  </div>
  <p>UserName: {{systemUserName}}</p>
  <p>System Name: {{systemName}}</p>
  <p>System Release: {{systemRelease}}</p>
  <p>System Version: {{systemVersion}}</p>
</div>

