<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <pie-chart></pie-chart>
  </div>
</div>

<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
                     title="Operating System" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card>

</div>

<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-xs-12"
               title="CPU/RAM" baCardClass="medium-card">
        <line-chart></line-chart>
      </ba-card>
    </div>
  </div>


</div>
